In [ ]:
#masuk ke container jupiter
docker exec -it <id> /bin/bash

sudo apt-get update

sudo apt-get install ncat

ncat -v

ncat -lk 9999

In [1]:
from pyspark.sql import SparkSession

spark = (
    SparkSession 
    .builder 
    .appName("reading from socket") 
    .master("local[*]") 
    .getOrCreate()
)

spark

In [1]:
!pwd

/home/jovyan/work/read_from_socket

In [2]:
df_raw = spark.read.format('text').load('/home/jovyan/work/read_from_socket/example.txt')

In [3]:
df_raw.printSchema()

root
 |-- value: string (nullable = true)

In [4]:
df_raw.show()

+--------------------+
|               value|
+--------------------+
|simon had a dog a...|
+--------------------+

In [5]:
from pyspark.sql.functions import split

df_words = df_raw.withColumn('words', split('value',' '))

In [6]:
df_words.show()

+--------------------+--------------------+
|               value|               words|
+--------------------+--------------------+
|simon had a dog a...|[simon, had, a, d...|
+--------------------+--------------------+

In [7]:
from pyspark.sql.functions import explode

df_explode = df_words.withColumn('word', explode('words'))

In [8]:
df_explode.show()

+--------------------+--------------------+-----+
|               value|               words| word|
+--------------------+--------------------+-----+
|simon had a dog a...|[simon, had, a, d...|simon|
|simon had a dog a...|[simon, had, a, d...|  had|
|simon had a dog a...|[simon, had, a, d...|    a|
|simon had a dog a...|[simon, had, a, d...|  dog|
|simon had a dog a...|[simon, had, a, d...|  and|
|simon had a dog a...|[simon, had, a, d...|    a|
|simon had a dog a...|[simon, had, a, d...|  cat|
|simon had a dog a...|[simon, had, a, d...|  the|
|simon had a dog a...|[simon, had, a, d...|  dog|
|simon had a dog a...|[simon, had, a, d...|  and|
|simon had a dog a...|[simon, had, a, d...|  cat|
|simon had a dog a...|[simon, had, a, d...| used|
|simon had a dog a...|[simon, had, a, d...|   to|
|simon had a dog a...|[simon, had, a, d...| love|
|simon had a dog a...|[simon, had, a, d...|simon|
+--------------------+--------------------+-----+

In [9]:
df_explode2 = df_words.withColumn('word', explode('words')).drop('value','words')

In [10]:
df_explode2.show()

+-----+
| word|
+-----+
|simon|
|  had|
|    a|
|  dog|
|  and|
|    a|
|  cat|
|  the|
|  dog|
|  and|
|  cat|
| used|
|   to|
| love|
|simon|
+-----+

In [11]:
from pyspark.sql.functions import count, lit
df_agg = df_explode2.groupby('word').agg(count(lit(1)).alias('cnt'))

In [12]:
df_agg.show()

+-----+---+
| word|cnt|
+-----+---+
| used|  1|
|simon|  2|
|  dog|  2|
| love|  1|
|  had|  1|
|  cat|  2|
|  the|  1|
|  and|  2|
|    a|  2|
|   to|  1|
+-----+---+

In [19]:
#streaming

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split
from pyspark.sql.functions import explode
from pyspark.sql.functions import count, lit


spark = (
    SparkSession 
    .builder 
    .appName("reading from socket") 
    .master("local[1]") 
    .getOrCreate()
)

#read
df_raw = spark.readStream.format('socket') \
              .option('host','localhost') \
              .option('port','9999') \
              .load()


#transform
df_words = df_raw.withColumn('words', split('value',' '))
df_explode = df_words.withColumn('word', explode('words'))
df_agg = df_explode.groupby('word').agg(count(lit(1)).alias('cnt'))

#sink
df_agg.writeStream \
      .format('console') \
      .outputMode('complete') \
      .start() \
      .awaitTermination()